* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282A36;
  padding: 20px;
  font-family: 'Calibri', Arial, Helvetica, sans-serif
}

#app {
  display: flex;
  width: 100%;
  justify-content: center;
}


#miolo {
  width: 80%;
  max-width: 500px;
  background-color: #F2F2F2;
  padding: 20px;
  border-radius: 5px;
}

input {
  background-color: #282A36;
  color: #F2F2F2;
  border: none;
  padding: 5px;
  width: 150px;
  outline: none;
  transition: all 300ms ease-in-out;
}

input::placeholder {
  color: #F2F2F2;
}

input:focus {
  background-color: #1C8F07;
  transition: all 300ms ease-in-out;
}

button {
  background-color: #282A36;
  color: #F2F2F2;
  border: none;
  margin-left: 5px;
  padding: 5px 10px;
  outline: none;
  transition: all 300ms ease-in-out;
}

button:hover {
  background-color: #1C8F07;
  transition: all 300ms ease-in-out;
}

#return {
  padding-left: 10px;
  font-weight: bold;
}

#resDiv {
  display: none;
  flex-direction: column;
  color: #282A36;
}

#container {
  display: flex;
  align-items: end;
  padding: 20px 0 0 0;
}

img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

li {
  list-style: none;
}

h1 {
  font-size: 20px;
}

p {
  padding: 2px 0;
  line-height: 16px;
  font-size: 15px;
}

a {
  color: #222;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

a:hover {
  color: #107F08;
}